<template>
    <div>
        {{msg1}}
    </div>
</template>

<script>
import myMixin from '../mixins/myMixin.js'
export default {
    data() {
        return {
            msg1: 'Hai'
        }
    },
    mixins: [myMixin]
}
</script>

