<template>
    <div style="display:flex;flex-direction:row; justify-content:center;" >
        <slot name="title"></slot>
        <input type="checkbox" @click="$emit('checked',todo.id)">
      <p>{{numberList}}.</p>
      <p>{{todo.message}}</p>
      <p>{{todo.status}}</p>
      <p>{{msg1}}</p>
      <p>{{msg2}}</p>
      <button @click="showNewMsg()">New Msg</button>

      <button @click="$emit('editTodo', [todo.id, todo.message])">Edit</button>
      <button @click="$emit('hapusTodo', index)">Hapus</button>
    </div>
</template>

<script>
import myMixin from '../mixins/myMixin';
export default {
 name:'ToDoItem',
 data() {
     return {
         msg1: 'Halo'
     }
 },
 mixins: [myMixin],
 props: {
     todo: Object, //bisa require, type dll,
     index: Number
 }
}
</script>

<style scoped>
button{
    
    height: 25px;
    margin-top: 30px;
    margin-left: 10px;
    font-size: 15px
}
p{
    padding: 10px;
    font-size: 20px
}
input{
    margin: 20px;
    height: 50px;
}
</style>

