<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <HelloWorld msg="To Do List"/>
    <input type="text" v-model="inputValue">
    <button @click="addTodo">Add</button>
    
    <p>{{warning}}</p>
    <ToDoItem v-for="(todo, index) in todos" 
    :key="index"
    :todo="todo"
    :index="index"
    v-bind:class="{todoStyle : showStyle}"
    v-on:doneTodo="doneTodo($event)"
    v-on:editTodo="editTodo($event)"
    v-on:checked="checked($event)" 
    v-on:hapusTodo="hapusTodo($event)">
      <p slot="title">Progress</p>
    </ToDoItem>
    
    <EditItem v-if="edit_items" :edit_items="edit_items" v-on:save="save($event)" v-on:cancel="cancel()" >
      <p slot="title">Edit To Do</p>
    </EditItem>
  </div>
  
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import ToDoItem from './components/ToDoItem.vue'
import EditItem from './components/EditItem.vue'
import myMixin from './mixins/myMixin'

export default {
  name: 'app',
  components: {
        HelloWorld,
        ToDoItem,
        EditItem
      },
  mixins: [myMixin]
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.todoStyle{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: black;
}
</style>
